@import 'bootstrap/bootstrap.less';

body {
	margin-bottom: 60px;
}

.site-header {
	text-align: center;
}

.row img {
	max-width: 100%;
}

.submission-category {
  border-top: 1px solid @page-header-border-color;
	padding-top: 0;
	margin-top: @line-height-computed;
	margin-bottom: 2 * @line-height-computed;
}