<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GCN 2014 Photography Competition | ISIC 2014</title>

    <link href="/css/public.css" rel="stylesheet">
    <link href="/favicon.ico" rel="shortcut icon">
    <link href="http://isic-tiimi.co.uk/" rel="index up">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <header class="site-header">
      <h1><a href="/"><span>Gala Cultural Night 2014</span> Photography Competition</a></h1>
    </header>

{{!--       <header class="site-header">
        <h1><a href="http://isic-tiimi.co.uk/"><img src="http://static.wixstatic.com/media/89355b_d937999d099e4fd3b42a58c29df056a3.png_srz_p_242_74_75_22_0.50_1.20_0.00_png_srz" alt="ISIC 2014"></a></h1>
      </header> --}}

      {{{body}}}

    <div class="login-link">
      {{#if loggedIn}}
      <a href="/submission" class="btn btn-success btn-sm"><b>View my submissions</b></a>
      <a href="/submission" class="btn btn-dark btn-sm">Log out</a>
      {{else}}
      <a href="/auth/facebook" class="btn btn-dark btn-sm"><b>Registered participants:</b> Log in with Facebook</a>
      {{/if}}
    </div>

    <footer class="site-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4">
            <p>{{!-- Part of: --}}</p>
            <p class="logos">
              <a href="http://isic-tiimi.co.uk/"><img src="http://static.wixstatic.com/media/89355b_d937999d099e4fd3b42a58c29df056a3.png_srz_p_242_74_75_22_0.50_1.20_0.00_png_srz" alt="ISIC 2014"></a>
            </p>
          </div>
          <div class="col-sm-4">
            <p>Organised by:</p>
            <p class="logos">
              <img src="/img/ppiuk.png" alt="PPI UK">
              <img src="/img/oxis.jpg" alt="PPI Oxford">
            </p>
          </div>
          <div class="col-sm-4">
            <p>Supported by:</p>
            <p class="logos">
              <img src="/img/rps.png" alt="The RPS">
            </p>
          </div>
        </div>
      </div>
    </footer>

    {{!--
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script> 
    --}}
  </body>
</html>