
	<h3 class="page-header">{{profile.displayName}}</h3>

	<div class="container">
		<div class="submission-list-large" id="submissionList">
		{{#each categories}}
			{{#each submissions}}
			<div class="submission">
				<a href="/view/{{uuid}}"><img src="{{mediumUrl}}" alt=""></a>
			</div>
			{{/each}}
		{{/each}}
		</div>
	</div>


<script src="/js/imagesloaded.pkgd.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script>
if (document.querySelectorAll('.submission').length > 3) {
	new Masonry('#submissionList');
}
</script>